<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FPL Data Site</title>
</head>
<body>
<h1 th:text="${'FPL Team Data'}">Heading of Site</h1>
<ul>
    <li><a href="/team/fantasy">Fantasy Stats</a></li>
    <li><a href="/team/involvement">Involvement Stats</a></li>
    <li><a href="/team/distribution">Distribution Stats</a></li>
    <li><a href="/team/threat">Threat Stats</a></li>
    <li><a href="/team/defending">Defending Stats</a></li>
    <li><a href="/team/set-piece">Set Piece Stats</a></li>
    <li><a href="/team/discipline">Discipline Stats</a></li>
    <li><a href="/team/expected">Expected Stats</a></li>
</ul>
</body>
</html>